amqp==5.2.0
annotated-types==0.7.0
anyio==4.6.2.post1
APScheduler==3.10.4
asttokens==2.4.1
billiard==4.2.1
celery==5.3.6
certifi==2024.8.30
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
comm==0.2.2
debugpy==1.8.7
decorator==5.1.1
dnspython==2.7.0
email_validator==2.2.0
executing==2.1.0
fastapi==0.115.2
fastapi-cli==0.0.5
fastapi-pagination==0.12.12
format-duration==0.0.5
greenlet==3.1.1
h11==0.14.0
haversine==2.8.1
httpcore==1.0.6
httptools==0.6.2
httpx==0.27.2
idna==3.10
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.28.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jplephem==2.22
jupyter_client==8.6.3
jupyter_core==5.7.2
kombu==5.4.2
markdown-it-py==3.0.0
MarkupSafe==3.0.1
matplotlib-inline==0.1.7
mdurl==0.1.2
msgpack==1.1.0
nest-asyncio==1.6.0
numpy==1.26.0
orjson==3.10.7
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pika==1.3.2
platformdirs==4.3.6
pluggy==1.5.0
prompt_toolkit==3.0.48
psutil==6.1.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.4.2
pydantic-extra-types==2.2.0
pydantic-settings==2.2.1
pydantic_core==2.10.1
Pygments==2.18.0
PyJWT==2.9.0
pytest==7.4.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-multipart==0.0.12
pytz==2023.3.post1
PyYAML==6.0.2
pyzmq==26.2.0
rabbit-wrapper @ git+https://github.com/Satellite-Operations-Services-Optimizer/rabbit-wrapper@a4092313df3dd7e5227238c19b15e46f8a6424c1
rich==13.9.2
sgp4==2.23
shellingham==1.5.4
six==1.16.0
skyfield==1.46
sniffio==1.3.1
-e git+https://github.com/ENG4000-SOSO/SOSO-Server.git@ad6b6197ca7aa3ce376ebceebca4b62925bac2cc#egg=soso_server
SQLAlchemy==2.0.23
SQLAlchemy-Utils==0.41.1
stack-data==0.6.3
starlette==0.39.2
tornado==6.4.1
traitlets==5.14.3
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ujson==5.10.0
Unidecode==1.3.7
uvicorn==0.31.1
uvloop==0.20.0
vine==5.1.0
watchfiles==0.24.0
wcwidth==0.2.13
websockets==13.1
